body,table{
        display: inline-flex;
    
    }

.room1 {
    height: 150px;
    width: 150px;

    margin-left: 800px;
    margin-top: 375px;
   

    border-radius: 10px;

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.room2 {
    height: 150px;
    width: 150px;

    margin-left: -300px;
    margin-top: 375px;
    margin-right: px;


    border-radius: 10px;

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

   

.room3 {

    height: 150px;
    width: 150px;

    margin-left: -150px ;
    margin-top: 100px;
  
    margin-bottom: -1000px;

    border-radius: 10px;

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.room4 {
    height: 150px;
    width: 150px;

    margin-left: -300px;
    margin-top: 100px;

    border-radius: 10px;

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.room5 {
    height: 150px;
    width: 150px;

    margin-left: -450px;
    margin-top: 100px;
    margin-bottom: 100px;

    border-radius: 10px;

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.hall {
    height: 125px;
    width: 450px;

   
    margin-left: -450px;
    margin-top: 250px;

    border-radius: 10px;

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

th {
    border: 1px solid;
    border-collapse: collapse;

    height: 123px;
    width: 7px;


    border-radius: 3px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, 
    rgba(6, 24, 44, 0.65) 0px  5px 7px -2px, 
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

.stair1{
    margin-top: 250px;
}

.stair2{
    margin-top: 250px;
    margin-left: -550px;
}

.stair3{
    rotate: 90deg;

    

    margin-left: -5px;
    margin-top: 375px;
}


.room1:hover,
.room2:hover,
.room3:hover,
.room4:hover,
.room5:hover,
.hall:hover {
    transform: scale(1.1); /* Increase the size of the element */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
    cursor: pointer; /* Change the cursor to a pointer */
}