/* Add gradient header style */
body{
    background-color: #ffffffde;
    background-image: url('slidebg.png');
    background-size: cover;
    margin: 0;
    overflow: hidden;

}


.rowalign {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 70px;
}

.trybox
{
    background-color: #dab06391;
    width: 400px;
    height: 650px;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    z-index: 10;
}   

.informationlogo{  
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 130px;
}
.logoimg{
    width: 190px;
    height: 170px;
    border-radius: 90%;
    margin-top: -10px;
    margin-left: -23px;
}

.informationheader{
    
    width: 330px;
    height: 30px;
    margin-top: 10px;
    margin-left: 35px;

    text-align: center;
    word-wrap: break-word;
    color: #008a35;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgb(255, 255, 204);

}

.informationdetails{
    
    width: 330px;
    height: 340px;
    margin-top: 20px;
    margin-left: 35px;
    text-align: center;
    word-wrap: break-word;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.452);

}
.informationcontact{

    width: 330px;
    height: 50px;
    margin-top: 10px;
    margin-left: 35px;
    text-align: center;
   
    font-size: 23px;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.452);

}

.fa-facebook{
    position: relative;
    right: 25px;
    top: 4px;
    background: #3B5998;
    color: white;
    padding: 8px;
    font-size: 10px;
    height: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-globe{
    flex-direction: row;
    position: relative;
    right: 15px;
    top: 4px;
    background: #008a35;
    color: white;
    padding: 8px;
    font-size: 10px;
    
    height: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

}

.trybox2
{
    background-color: #dab06391;
    border: 1px solid black;
    width: 1050px;
    height: 650px;
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 10px;
    border-radius: 10px;
}

.defaultmap{
    position: absolute;
    width: 1050px;
    height: 600px;
    z-index: 1;
    visibility: show;

}
/* ------------------------ SEARCH BAR--------------------------*/

/* ------------------------ BUTTONS--------------------------*/
.buttonandfloor{

    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-top: 20px;

}

.btncontainer {
    text-align: center;
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    height: 450px;
}

.button {
    width: 240px;
    background-color: #ffffffde;
    color: black;
    border-radius: 10em;
    font-size: 16px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid #e89d3a;
    box-shadow: 0 0 0 0 black;
    margin-top: 5px;
    margin-bottom: 5px;
        
}


.button:hover,
.button:focus {
    background-color: #f8ad4bc0;
    color: rgb(0, 0, 0);
    box-shadow: 2px 5px 0 0 #00732ca9;
}

.button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 #00732cb4;
}


/* ------------------------ BUTTONS--------------------------*/



/* -------------------FLOOR INDICATOR---------------------------*/
.floorindicator{

    border-radius: 5px;
    color: black;
    margin-top: 60px;
}
.floorlayout{
    border-radius: 5px;
    border: 1px solid #00732ca9;
    width: 70px;
    text-align: center;
}
#social {
    background-color: #ffffffde;
    height: 30px;
}
#floor41 {
    background-color: #ffffffde;
}
#floor42 {
    background-color: #ffffffde;
}
#floor31 {
    background-color: #ffffffde;
}
#floor32 {
    background-color: #ffffffde;
}
#floor21 {
    background-color: #ffffffde;
}
#floor22 {
    background-color: #ffffffde;
}
#floor11 {
    background-color: #ffffffde;
 }
#floor12 {
    background-color: #ffffffde;
}

.slide:hover, .scaleOnHover:hover {
    transform: scale(1.05);
    background-color: #fba523e7;
  }

.building2floor1 {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 1050px;
    height: 650px;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    visibility: hidden;
    font-weight: bolder;
}

.building2floor2 {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 1050px;
    height: 650px;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    visibility: hidden;
    font-weight: bolder;
}

.building2floor3 {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 1050px;
    height: 650px;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    visibility: hidden;
    font-weight: bolder;
}

.building2floor4 {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 1050px;
    height: 650px;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    visibility: hidden;
    font-weight: bolder;
}

.building2floor5 {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 1050px;
    height: 650px;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    visibility: hidden;
    font-weight: bolder;
}
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}
.item:hover {
    background-color: #e0e0e0;
    transform: scale(1.02);
}
.hallway {
    justify-content: center;
    align-items: center;
    display: flex;
    grid-column: span 4;
    font-size: 24px;
    cursor: default; /* Disable pointer cursor */
    border: 2px solid black;
    border-radius: 10px;
    
}
/* Big room 1 */
.b2bigroom1 {
    grid-column: span 2;
}

/* Big room 2 */
.b2bigroom2 {
    grid-column: span 2;
}

/* Big room 3 */
.b2bigroom3 {
    grid-column: span 2;
}

/* Big room 4 */
.b2bigroom4 {
    grid-column: span 2;
}

/* Room 101 */
.room101 {
    grid-column: span 1;
}
/* Room 102 */
.room102 {
    grid-column: span 1;
}
/* Room 103 */
.room103 {
    grid-column: span 1;
}
/* Room 104 */
.room104 {
    justify-content: center;
    align-items: center;
    display: flex;
    grid-column: span 1;
    cursor: default; /* Disable pointer cursor */
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
}

/* Room 201 */
.room201 {
    grid-column: span 1;
}
/* Room 202 */
.room202 {
    grid-column: span 1;
}
/* Room 203 */
.room203 {
    grid-column: span 1;
}
/* Room 204 */
.room204 {
    grid-column: span 1;
}

/* Room 301 */
.room301 {
    grid-column: span 1;
}
/* Room 302 */
.room302 {
    grid-column: span 1;
}
/* Room 303 */
.room303 {
    grid-column: span 1;
}
/* Room 304 */
.room304 {
    grid-column: span 1;
}

/* Room 401 */
.room401 {
    grid-column: span 1;
}
/* Room 402 */
.room402 {
    grid-column: span 1;
}
/* Room 403 */
.room403 {
    grid-column: span 1;
}
/* Room 404 */
.room404 {
    grid-column: span 1;
}



.roomComfortroom {
    grid-column: span 1;
}
.strairs-area {
    justify-content: center;
    align-items: center;
    display: flex;
    grid-column: span 1;
    cursor: default; /* Disable pointer cursor */
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
}


.fade {
    opacity: 0;
    transition: opacity 0.5s;
}

.fade-in {
    opacity: 1;
}

.building1floor1 {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 1050px;
    height: 650px;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    visibility: hidden;
    font-weight: bolder;


}

.building1floor2 {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 1050px;
    height: 650px;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    visibility: hidden;
    font-weight: bolder;
}

.building1floor3 {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 1050px;
    height: 650px;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    visibility: hidden;
    font-weight: bolder;

}

.building1floor4 {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 1050px;
    height: 650px;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    visibility: hidden;
    font-weight: bolder;

}

.building1floor5 {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 1050px;
    height: 650px;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    visibility: hidden;
    font-weight: bolder;

}

.item {
    display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid black;
            font-size: 16px;
            font-weight: bold;
            background-color: #ffffff;
            cursor: pointer;
            border-radius: 10px;
            transition: background-color 0.3s, transform 0.3s;
}


.item:hover {
    background-color: #e0e0e0;
    transform: scale(1.02);

}

.hallway {
    justify-content: center;
    align-items: center;
    display: flex;
    grid-column: span 4;
    font-size: 24px;
    cursor: default; /* Disable pointer cursor */
    border: 2px solid black;
    border-radius: 10px;
}

/* Big room 1 */
.b1bigroom1 {
    grid-column: span 1;
}

/* Big room 2 */
.b1bigroom2 {
    grid-column: span 1;
}

/* Big room 3 */
.b1bigroom3 {
    grid-column: span 1;
}

/* Big room 4 */
.b1bigroom4 {
    grid-column: span 1;
}

/* Room 106 */
.room106 {
    grid-column: span 1;
}

/* Room 107 */
.room107 {
    grid-column: span 2;
}

/* Room 108 */
.room108 {
    grid-column: span 1;
}

/* Room 109 */
.room109 {
    grid-column: span 1;
}

/* Room 206 */
.room206 {
    grid-column: span 1;
}

/* Room 207 */
.room207 {
    grid-column: span 2;
}

/* Room 208 */
.room208 {
    grid-column: span 1;
}

/* Room 209 */
.room209 {
    grid-column: span 1;
}

/* Room 306 */
.room306 {
    grid-column: span 1;
}

/* Room 307 */
.room307 {
    grid-column: span 2;
}

/* Room 308 */
.room308 {
    grid-column: span 1;
}

/* Room 309 */
.room309 {
    grid-column: span 1;
}

/* Room 406 */
.room406 {
    grid-column: span 1;
}

/* Room 407 */
.room407 {
    grid-column: span 2;
}

/* Room 408 */
.room408 {
    grid-column: span 1;
}

/* Room 409 */
.room409 {
    grid-column: span 1;
}

.roomComfortroom {
    grid-column: span 1;
}

.stairs-area {
    justify-content: center;
    align-items: center;
    display: flex;
    grid-column: span 1;
    cursor: default; /* Disable pointer cursor */
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;

}




/* -------------------FLOOR INDICATOR---------------------------*/

/* Responsive styles */
/* Additional CSS for 2400 x 1080 resolution */
/* Additional adjustments for full responsiveness */
@media (max-width: 1080px) {
    /* Header adjustments */
    header {
        padding: 15px;
        font-size: 70px;
        height: 100px;
    }
    .search-bar:focus {
        width: 240px;
        border-color: #E89C3A;
        
    }

    /* Search bar adjustments */
    .search-bar {
        width: 190px;
        height: 100px;
        margin-bottom: 10px; /* Adjusted margin */
        transition: width 0.3s ease;
        border-radius: 5em;
        border-color: #E89C3A;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfZMqLWMNI7_q0jrqQqOD9fhJqxSdgiwqgJ3nz4Neszw&s");
        background-size:  60px 60px;
        background-repeat: no-repeat;
        background-position: 20px 20px;
        padding-left: 100px;
        font-size: 40px;
    }

    /* Button adjustments */
    .button {
        width: 100%;
        max-width: 350px;
        margin-bottom: 15px;
        font-size: 30px;
        padding: 1.2em 2em;
    }

    /* Button container adjustments */
    .btncontainer {
        margin-top: 20px;
    }

    /* Floor indicator adjustments */
    .floorindicator,
    .floorlayout {
        display: none;

    }

    /* Additional adjustments for smaller screens */
    @media (max-width: 600px) {
        /* Header adjustments */
        header {
            padding: 10px;
            font-size: 18px;
        }



        /* Button adjustments */
        .button {
            max-width: none;
            padding: 1em 2em;
        }

        /* Button container adjustments */
        .btncontainer {
            margin-top: 10px;
        }
    }
}


